body {
  background-color: #495464;
}
.container {
  margin-top: 20px;
}
.cardRow {
  background-color: #393e46;
}
.card-header {
  background-color: #222831;
  color: #fff;
  font-size: 18px;
}
.card-body {
  color: #ffffff;
  font-size: 18px;
}
.form-control {
  border-color: #222831;
  background-color: #222831;
}
.list-group-item {
  background-color: #bbbfca;
  color: #15171a;
}